
.icon_button3{
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    /* here will be replace sprite image path, and auto set the background-position */
    background: url("./images/button.png?__sprite");
}

.icon_shake3{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    /* here will be replace sprite image path, and auto set the background-position */
    background: url("./images/shake@2x.png?__sprite");
}

.icon_root{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    /* here will be replace sprite image path, and auto set the background-position */
    background: url("nearby@2x.png?__sprite");
}